# Include the LICENSE file
include LICENSE
include *.rst
# Include binaries
graft bin
# Deal with freaky Node.JS stuff.
recursive-include sensibility *.js
prune sensibility/language/javascript/node_modules
# Include any .tsv vocabularies
recursive-include sensibility vocabulary.tsv
